.movie-form {
  width: 100%;
  height: 100%;
  position: static;

  &__message {
    font-size: 22px;
  }

  &__buttons {
    flex: 1 1 100%;

    input {
      height: 50px;
      width: 20%;
      text-transform: uppercase;
      font-size: large;
      border: none;
      margin-left: 20px;
      float: right;
      color: white;
      background-color: #f65261;

      &:hover {
        background-color: #e63544;
      }
    }

    input:not([type="submit"]) {
      color: white;
      background-color: #232323;
      border: 1px solid #f65261;

      &:hover {
        background-color: #1d1c1c;
      }
    }
  }

  &__container {
    padding: 7%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    label {
      display: block;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      margin-bottom: 5px;
      color: #f65261;
    }

    input:not([type="submit"]):not([type="reset"]) {
      box-sizing: border-box;
      padding: 0 10px;
      margin-bottom: 25px;
      width: 100%;
      height: 50px;
      background: #323232;
      border: none;
      color: white;
      font-size: 18px;

      &.hasError {
        border: 1px solid red;
      }
    }

    textarea {
      padding: 10px;
      margin-bottom: 30px;
      background: #323232;
      border: none;
      resize: none;
      width: 100%;
      height: 30vh;
      box-sizing: border-box;
      color: white;
      font-size: 18px;
      &.hasError {
        border: 1px solid red;
      }
    }
  }

  &__header {
    flex: 1 1 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: normal;
  }

  &__left-column {
    flex: 1 1 65%;
    margin-right: 30px;
  }

  &__right-column {
    flex: 1 1 30%;
  }

  &__description {
    width: 100%;
  }
}
