.modal {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 75%;
  height: fit-content;
  background-color: #232323;
  color: #fff;

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid white;
    border-radius: 50%;
    background: none;
    color: darkgray;
    font-size: 25px;
  }
}
