.movie-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 10%;

  &-header {
    flex: 1 1 100%;
    padding: 25px 2% 0 2%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__genres,
    &__sorting {
      display: flex;
      color: white;
      font-size: 22px;
      margin-bottom: 20px;
      border-bottom: 1px solid #424242;
    }

    &__sorting {
      div {
        padding-right: 15px;
        text-transform: uppercase;
      }

      select {
        border: none;
        border-radius: 4px;
        width: 200px;
        background-color: #232323;
        color: white;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
      }
    }

    &__genres {
      flex: 1 1 60%;

      div {
        margin-right: 15px;
        text-transform: uppercase;
      }

      div:first-child {
        border-bottom: 1px solid #f65261;
      }
    }

    &__total {
      flex: 1 1 100%;
      color: white;
      font-size: 22px;
      margin-bottom: 25px;

      span {
        font-weight: bold;
      }
    }
  }
}
