.movie-card {
    flex: 0 1 30%;
    margin: 15px 10px;
    display: flex;
    flex-wrap: wrap;
    color: #ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.7;

    &__image {
        flex: 1 1 100%;
        margin-bottom: 20px;

        img {
            max-width: 100%;
            opacity: 1;
        }
    }

    &__title {
        flex: 1 1 70%;
        letter-spacing: 3px;
        font-size: 18px;
    }
    
    &__release_date {
        flex: 1 1 20%;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500px;
        border: 1.5px solid;
        border-radius: 5px;
        max-width: 50px;
        align-self: center;
        padding: 5px 0;
    }

    &__genres{
        flex: 1 1 100%;
        margin-top: 15px;
        letter-spacing: 1px;
        font-size: 14px;
    }
}