.movie-card {
  position: relative;
  margin-bottom: 50px;
  flex: 0 1 30%;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.7;

  &__image {
    flex: 1 1 100%;
    margin-bottom: 20px;

    img {
      max-width: 100%;
      opacity: 1;
    }
  }

  &__title {
    flex: 1 1 70%;
    letter-spacing: 3px;
    font-size: 18px;
  }

  &__release_date {
    flex: 1 1 20%;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500px;
    border: 1.5px solid;
    border-radius: 5px;
    max-width: 50px;
    align-self: center;
    padding: 5px 0;
  }

  &__genres {
    flex: 1 1 100%;
    margin-top: 15px;
    letter-spacing: 1px;
    font-size: 14px;
  }

  &__menu_opened,
  &__menu_closed {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__menu_opened {
    text-align: right;
    background-color: #232323;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    :hover {
      background-color: #f65261;
    }

    div {
      padding: 5px 15px;
    }

    div:not(:last-child) {
      border-bottom: 1px white solid;
    }
  }

  &__menu_closed {
    border: 1px solid white;
    border-radius: 25px;
    height: 25px;
    width: 25px;
    text-align: center;
    font-weight: bold;

    &::after {
      content: "...";
      display: block;
      top: 2px;
      right: 11px;
      position: absolute;
      transform: rotate(-90deg);
    }
  }
}
